#
# DEP-8: autopkgtest - automatic as-installed package testing
#        Please check * https://dep-team.pages.debian.net/deps/dep8/
#                     * /usr/share/doc/autopkgtest
#
Test-Command: python3 -m pytest tests/
Depends:
 @,
 python3-pytest,
 python3-flask,
 python3-flask-babel,
 python3-abraflexi (>= 1.1.2),
Restrictions: allow-stderr
